@page
@model CodeProdigee.Pages.Musings

@{
    Layout = "Shared/_Layout";
}

<div class="container mx-auto pt-4">
    <section id="ctaFeaturedArticle">

    </section>
    <section id="postsList">
        
    </section>
</div>
